@font-face {
  font-family: MuseoSansCyrl;
  src: url('./otf/museosanscyrl_100.otf');
}

@font-face {
  font-family: MuseoSansCyrlFat;
  src: url('./otf/ofont.ru_Museo\ Sans\ Cyrl\ 700.ttf');
}

@font-face {
  font-family: MuseoSansCyrlNormal;
  src: url("./otf/ofont.ru_Museo\ Sans\ Cyrl\ 300.ttf");
}

body {
  background-image: url("./png/background.png");
  background-position: center;
  background-size: auto;
  width: 100%;
  height: 644px;
  background-repeat: no-repeat;
  background-color: #000c18;
  margin: 0;
}

nav {
  height: 100px;
  border: 1px solid rgba(42, 41, 44, 0.50);
  background: rgba(0, 0, 0, 0.32);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162.5px;
  border: 1px solid rgba(42, 41, 44, 0.50);
}

@media screen and (max-width: 767px) {
  nav img {
    margin: 0;
  }

  .nav-menu-button {
    width: 157.5px;
    height: 100px;
    border: 1px solid rgba(42, 41, 44, 0.50);
    background: rgba(0, 0, 0, 0);
    margin-right: 0;
  }
}

@media screen and (min-width: 767px) {
  nav img {
    margin-left: 135px;
  }

  .nav-menu-button {
    width: 157.5px;
    height: 100px;
    border: 1px solid rgba(42, 41, 44, 0.50);
    background: rgba(0, 0, 0, 0);
    margin-right: 135px;
  }
}

/* for burger menu*/
/* .nav-menu-button {
  width: 157.5px;
  height: 100px;
  border: 1px solid rgba(42, 41, 44, 0.50);
  background: rgba(0, 0, 0, 0);
  margin-right: 135px;
} */

.img-wrap svg {
  fill: rgba(42, 41, 44, 1);
}

.nav-menu-box {
  position: absolute;
}

.wrap-box-a {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.32);
}

.wrap-box-a div {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgba(42, 41, 44, 0.50);
  display: flex;
  justify-content: center;
}

.nav-box-a {
  font-size: 16px;
  font-family: MuseoSansCyrl;
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.nav-box-a:hover {
  transition: color 0.5s;
  color: #909090;
  border-bottom: 1px solid #909090;
}

.nav-box {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  margin-right: 135px;
}

.nav-box a {
  font-size: 16px;
  font-family: MuseoSansCyrl;
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.nav-box a:hover {
  transition: color 0.5s;
  color: #909090;
  padding-bottom: 7px;
  border-bottom: 1px solid #909090;
  margin-top: 7px;
}

.mars-text-high {
  margin: 0;
  font-family: MuseoSansCyrlFat;
  font-style: bold;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,67,0,1) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}

.mars-text {
  margin: 0;
  font-family: MuseoSansCyrlNormal;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,67,0,1) 80%);
  font-size: 25px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mars-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.planet {
  position: absolute;
  top: 29px;
  left: -243px;
}

.point-to-mars {
  position: absolute;
  top: 294px;
  left: -455px;
}

.middle-content {
  position: relative;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 135px;
  margin-right: 97px;
}

.title-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.mars-button {
  position: relative;
  width: 180px;
  height: 35px;
  padding: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.00);
}

.mars-button:hover .mars-button-text {
  color: rgb(255, 255, 255);
  transition: color 0.5s;
}

.mars-button-text {
  margin: 0;
  font-family: MuseoSansCyrl;
  font-size: 14px;
  color: #828387;
  transition: color 0.5s;
}

.mars-button img {
  position: absolute;
  left: -6px;
  top: -6px;
}

.info-boxes-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 185px 185px;
  grid-template-rows: 185px 185px;
  margin-top: 40px;
}

.info-box-tl {
  width: 185px;
  height: 185px;
  background: linear-gradient(315deg, rgba(56, 56, 56, 0.50) 0.14%, rgba(217, 217, 217, 0.00) 60.71%);
}

.info-box-tl:hover {
  background: linear-gradient(315deg, rgba(160, 160, 160, 0.40) 0.14%, rgba(217, 217, 217, 0.00) 60.71%);
}

.info-box-a-tl {
  width: 182px;
  height: 182px;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box-tl:hover .info-box-a-tl {
  background: linear-gradient(315deg, rgba(120, 120, 120, 0.5) 0.14%, rgba(217, 217, 217, 0.00) 50.71%);
}

.info-box-tr {
  width: 185px;
  height: 185px;
  background: linear-gradient(405deg, rgba(56, 56, 56, 0.50) 0.14%, rgba(217, 217, 217, 0.00) 60.71%);
}

.info-box-tr:hover {
  background: linear-gradient(405deg, rgba(160, 160, 160, 0.40) 0.14%, rgba(217, 217, 217, 0.00) 50.71%);
}

.info-box-a-tr {
  margin-left: 2.5px;
  width: 182px; 
  height: 182px;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box-tr:hover .info-box-a-tr {
  background: linear-gradient(405deg, rgba(120, 120, 120, 0.5) 0.14%, rgba(217, 217, 217, 0.00) 60.71%);
}

.info-box-bl {
  width: 185px;
  height: 185px;
  background: linear-gradient(495deg, rgba(56, 56, 56, 0.50) 0.14%, rgba(217, 217, 217, 0.00) 60.71%);
}

.info-box-bl:hover {
  background: linear-gradient(495deg, rgba(160, 160, 160, 0.40) 0.14%, rgba(217, 217, 217, 0.00) 60.71%);
}

.info-box-a-bl {
  margin-left: 2.5px;
  margin-top: 2.5px;
  width: 182px;
  height: 182px;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box-bl:hover .info-box-a-bl {
  background: linear-gradient(495deg, rgba(120, 120, 120, 0.5) 0.14%, rgba(217, 217, 217, 0.00) 50.71%);
}

.info-box-br {
  width: 185px;
  height: 185px;
  background: linear-gradient(585deg, rgba(56, 56, 56, 0.50) 0.14%, rgba(217, 217, 217, 0.00) 60.71%);
}

.info-box-br:hover {
  background: linear-gradient(585deg, rgba(160, 160, 160, 0.40) 0.14%, rgba(217, 217, 217, 0.00) 60.71%);
}

.info-box-a-br {
  margin-top: 2.5px;
  width: 182px;
  height: 182px;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box-br:hover .info-box-a-br {
  background: linear-gradient(585deg, rgba(120, 120, 120, 0.5) 0.14%, rgba(217, 217, 217, 0.00) 50.71%);
}

.info-box-text {
  margin: 0;
  font-family: MuseoSansCyrl;
  font-size: 18px;
  color: white;
}

.info-box-text-high {
  margin: 0;
  font-family: MuseoSansCyrlFat;
  font-size: 60px;
  font-style: bold;
  color: white;
}

.info-box-text-high span {
  font-size: 20px;
}